.markdown {
    letter-spacing: 0.1em;
    line-height: 1.5;
}

.markdown p {
}

.markdown h1 {
    font-size: var(--chakra-fontSizes-2xl);
    margin: 60px 0 10px;
    font-weight: bold;
}

.markdown h2 {
    font-size: var(--chakra-fontSizes-xl);
    margin: 60px 0 10px;
    font-weight: bold;
}

.markdown h3 {
    font-size: var(--chakra-fontSizes-lg);
    margin: 60px 0 10px;
    font-weight: bold;
}

.markdown h4 {
    font-size: var(--chakra-fontSizes-md);
    margin: 60px 0 10px;
    font-weight: bold;
}

.markdown h5 {
    font-size: var(--chakra-fontSizes-sm);
    margin: 60px 0 10px;
    font-weight: bold;
}

.markdown h6 {
    font-size: var(--chakra-fontSizes-xs);
    margin: 60px 0 10px;
    font-weight: bold;
}

.markdown ol,
.markdown blockquote {

}

.markdown ul,
.markdown ol {
    /*右に少し寄せないと、頭の記号がコンテナからはみ出る*/
    list-style: disc;
    padding-left: 1rem;
    margin-bottom: 60px;
}

.markdown li {
    margin-bottom: 10px;
}

.markdown pre {
    font-size: var(--chakra-fontSizes-sm) !important;
    font-weight: var(--chakra-fontWeights-semibold);
    font-family: "JetBrains Mono";
    letter-spacing: 0.05rem;
    background-color: var(--chakra-colors-gray-800);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: 1px solid var(--chakra-colors-gray-700);
    padding: 1rem;
    margin: 20px auto;
}

.markdown table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-scrolling: touch;
    background-color: var(--chakra-colors-gray-800);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: 1px solid var(--chakra-colors-gray-700);
    padding-inline: 1rem;
}

.markdown table th {
    font-weight: bold;
    padding: 1rem 0;
    min-width: 200px;
}

.markdown table td {
    padding: 1rem 2rem 1rem 0;
    vertical-align: top;
    text-align: left;
    max-width: 300px;
    white-space: break-spaces;
}

.markdown table tr {
    border-bottom: 1px solid var(--chakra-colors-gray-700);
}
