/*link や next/image コンポーネントに置き換えている要素はコンポーネントの中で見た目のスタイリングをする。
ここは置き換える必要のない要素のスタイリングをしている。配置関係は全てここに書く*/

.markdown {
    letter-spacing: 0.1em;
    line-height: 1.5;
}

.markdown p {
}

.markdown h1 {
    font-size: var(--chakra-fontSizes-2xl);
    font-weight: bold;
}

.markdown h2 {
    font-size: var(--chakra-fontSizes-xl);
    font-weight: bold;
}

.markdown h3 {
    font-size: var(--chakra-fontSizes-lg);
    font-weight: bold;
}

.markdown h4 {
    font-size: var(--chakra-fontSizes-md);
    font-weight: bold;
}

.markdown h5 {
    font-size: var(--chakra-fontSizes-sm);
    font-weight: bold;
}

.markdown h6 {
    font-size: var(--chakra-fontSizes-xs);
    font-weight: bold;
}

.markdown hr {
    border: 1px solid var(--chakra-colors-gray-700);
    margin: 20px 0;
}

.markdown blockquote {
    margin: 1rem 0;
}

.markdown ul,
.markdown ol {
    padding-left: 1rem;
}

.markdown li {
    margin-bottom: 10px;
}


.markdown table th {

}
