.markdown {
    letter-spacing: 0.03em;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
    margin-top: 60px;
}

.markdown h2 {
    font-size: 2rem;
}

.markdown h3 {
    font-size: 3rem;
}
